
<div class="footer">
    <div class="footer-row">
        <div class="footer-logo">
            <img src="assets/img/2.svg" alt="logo" />
        </div>
        
        <div class="footer-arrow">
            <img src="assets/img/1.svg" alt="arrow" />
        </div>
        
        <div class="footer-contacts">
            <div class="footer-info">
                <a href="/">
          <h3>+359 875 625 985</h3>
        </a>
        <img src="assets/img/telephone-call.png" alt="telephone-call" />
      </div>
      <div class="footer-info">
        <a href="/">
          <h3>varna_travel@gmail.com</h3>
        </a>
        <img src="assets/img/mail.png" alt="mail" />
      </div>
      <div class="footer-info">
        <a href="/">
          <h3>Варна, ул. Някоя си 23</h3>
        </a>
        <img src="assets/img/placeholder.png" alt="placeholder" />
      </div>
    </div>
  </div>
</div>
