<div class='services-container'>
    <div class='services-flex'>
        <div class='justify-services'>
            <h2>Предлагани услуги</h2>
            <hr />
        </div>

        <div class='services-cards'>
            <!-- {productData.map((productData) => (
                <ServicesData
                    key={productData.id}
                    type={productData.type}
                    title={productData.title}
                    image={productData.image}
                    time={productData.time}
                    price={productData.price}
                    description={productData.description}
                />
            ))} -->
        </div>
        <div class='arrow-down'>
            <img
                src='./arrow-down.png'
                alt='arrow-down'
            />
        </div>
    </div>
</div>